/* CSS Document */

.right_column .widget .content-widget {
background-color:#FFFFFF;
background-image:none;
}

li#out a { color:red!Important;font-weight:bold; }


/****************************************
WIDGET STYLES
*/

.right_column .widget ul { float:none; }

/* Sidebar Styles */
.content-widget .textwidget .sidebar h2 { display:block;padding-bottom:2px;font-size:14px!Important;}
.content-widget .textwidget .sidebar div {border-bottom:1px dashed #CCCCCC;padding:0px 0px 5px 0px;margin:0px 0px 5px 0px;}
.content-widget .textwidget .sidebar p {font-size:12px;}


.content-widget .textwidget .sidebar UL {
	PADDING-LEFT: 15px;
	MARGIN-BOTTOM: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN-LEFT: 20px;
	margin-right: 0px;
	padding-right: 0px;
float:none!Important;
}
.content-widget .textwidget .sidebar OL {
	PADDING-LEFT: 12px;
	MARGIN-BOTTOM: 5px;
	PADDING-BOTTOM: 5px;
	MARGIN-LEFT: 17px;
float:none!Important;
}
.content-widget .textwidget .sidebar LI {
	padding: 2px 0px 2px 0px!Important;
	font-size: 12px;
}


/* Text Widget */
.right_column .widget .content-widget .textwidget { padding: 0px; }
.right_column .widget .content-widget .textwidget ul li a {float:none;}
.right_column .widget .content-widget .textwidget ul li {float:none;}
.right_column .widget .content-widget .textwidget p {font-size:12px; margin:0px 0px 10px 0px;padding:0px 0px 0px 0px;}
.right_column .widget .content-widget .textwidget h2 {font-size:16px;margin:10px 0px;}
.right_column .widget .content-widget .textwidget h3 {font-size:14px;}
.right_column .widget .content-widget .textwidget h4 {font-size:12px;}


/* Tour Dates Widget */
#tourdates ul li { width:300px!Important; }
#tourdates li a { position:relative;font-size:14px;float:none; }
#tourdates img {position:absolute;float:right;right:5px;top:7px;}
#tourdates table td {font-size:12px;padding:8px 0px;border-bottom:1px dashed #CCCCCC}
#tourdates table td a {font-size:14px;font-weight:bold;}

/* Poll Widget */
.right_column .widget .wp-polls ul li { border:0px!Important; float:none!Important; }
.wp-polls+div+ul li { border:none!Important; }
.wp-polls-ul { float:none!Important; }

/*Race at a Glance Widget */
#rag ul { position:relative;float:none!Important; }



/* Adjet
.content-widget .widget-ajax ul li {
float:left;
margin:2px;
padding:2px;
width: 150px!Important;
height: 150px!Important;
border: none;
}

.widget-ajax ul li img {
width:150px;
height:150px;
}
*/



/****************************************
ITEMS CHANGED FROM COMPETITOR GLOBAL STYLE
*/

/*Hide Login/Join links until they're ready for prime time */
.signin p { display:none; visibility:hidden; }


#logo {  background-image: url('../images/header-logo.gif'); }

#content { margin-top: 150px; }

/* Added to fix marquee hiding features/video/hot bar on top of content well */
#meta-rotate{ top: 0px; }
#rotate-thumbs #maqnav { top:20px;}
#rotate .caption { height:180px; }

/* Text and Heading Styles  */
* { font-family:Arial,Helvetica,sans-serif!Important; } 
a { text-decoration: underline!Important;}
.main_nav a, .sec_nav a, #top-bar a { text-decoration:none!Important;font-weight:normal!Important;}

#content .wp-caption p.wp-caption-text { margin:0 5px; }
#content .main_column .article p { text-align:left!Important;width:auto;}
#content .main_column h1,#content .main_column h1 a  {font-size:22px!Important;}
#content .main_column h1.title a,#content .main_column h2.author a {text-decoration:none!Important;}
content .main_column .article h2 {margin:30px 0px 5px;}
#content .main_column .article h1+h2 { margin-top:0px; }
#content .main_column .article h3 {font-size:16px;margin:10px 0px 5px 0px;font-weight:bold; }
#content .main_column .article h4 {}
#content .main_column .article h5 {}
#content .main_column .article .st {font-size:11px;}
#content .main_column .article ul {padding:5px 15px;margin:0px 10px;}


/* Removes Leaderboard ad banner from top of page */
#banner { display:none; visibility:hidden;}

/*Styling for list of cities in header */
#rnrcities .event_list { width:500px;float:right;margin-top:40px;}
#rnrcities .event_list li {padding:5px 10px;display:inline;float:left;}
#rnrcities .event_list li a {font-size:14px;color:#FFFFFF;}


/****************************************
 TABLES  
*/

.grid td {
	border-top: 1px solid #CCCCCC;
	padding: 3px 2px 3px 4px;
}
.grid {
	border-left:1px solid #CCCCCC; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; background-image: url('images/bg_table.jpg');
	background-repeat: repeat-x;
	margin-bottom: 20px;
	border-top: 1px solid black
}

.grid p { ;margin:0px;}
.grid h1, .grid h1, .grid h1 { margin:0px; padding:0px; }
.grid h1 { font-size: 16px!Important;	font-weight: bold;}
.grid H2 { font-size: 14px!Important;}
.grid H3 {}

.rowheader td {
	font-weight: bold;
	color:#000000;
	border-bottom: none;
}



/****************************************
 ATTENTION BOX
*/


.attn a:link { 	color: #006699;}
.attn a:visited { color: #006699;}
.attn H1 a:link { color: #006699;	text-decoration:none;}
.attn H1 a:visited { color: #006699;}
.attn H1 a:hover {	color: #006699;}
.attn H1 a:active {	color: #006699;}

.attn {
	background-color: #FFFFFF;
	border: 1px solid;
	background-image: url('events/bg_attn.jpg');
	background-repeat: repeat-x;
	margin-bottom: 20px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:0px
}
.attn H1 {
	margin-top: 0px;
	color: #006699;
	font-size: 16px;
	margin-bottom: 2px;
	padding-top: 2px;
	font-weight: bold;
	border-bottom: 2px solid;
	border-bottom-color: #006699;
}
.attn H2 {
	margin-top: 0px;
	color: #006699;
	margin-bottom: 2px;
	padding-top: 2px;
	font-weight: bold;
}
.attn p {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 8px;
}

/****************************************
PAGEHEADING
*/


#content .main_column h1.page-header, #content .main_column h1.cat-header {	
	margin-top:0px!Important;
	margin-left:0px!Important;
	margin-bottom:20px!Important;
	BORDER-BOTTOM:#000000 1px dotted;
	font-size:26px!Important;
}


/****************************************
PAGE SUBSECTIONS
*/
#events-section-container { overflow: hidden;width:610px; }
#events-section-container .events-section { 
	float: left; width:50%; margin-bottom: -470px; padding-bottom:500px;
}
.events-section .events-section-heading h2 {
	background:#000000 url('../images/h2-back-widget-arrow.jpg') no-repeat right center;
	margin-left:0px; 
	margin-right:5px; 
	margin-top:0px; 
	margin-bottom:0px; 
	padding-left:10px; 
	padding-right:10px; 
	padding-top:0px;
	padding-bottom:2px
}

.events-section h2, .events-section h2 a {color:#FFFFFF!Important;}
.events-section ul {margin-top:5px!Important;padding-top:5px!Important;}

/****************************************
 HOTEL PAGE STYLES
*/

.hq_hotel {
	border: 1px solid;
	border-color: #6699CC;
	margin-bottom: 25px;
}
.hq_hotel td { padding:0px 5px 0px 10px; }
.hq_hotel .hq_header {
	background-image:url(events/hq_topbar.jpg);
	background-repeat:repeat-x;
height:40px;
}
.hq_hotel H2 { margin-top:0px;	font-size: 16px;color: #FFFFFF!Important;font-weight: bold;}
.hq_hotel .hq_rightcol H2 { margin:0px!Important;padding:0px!Important;}
.hq_leftcol { width:180px;}
.hq_leftcol p { font-size:12px!Important;}


#hotels { width:620px;font-size:12px;overflow: hidden;}
#hotels a {font-weight:bold!Important;}
#hotels p {margin:0px 0px 10px 0px;}
#hotels h2 { font-size:16px;margin:0px; }
#hotels div { float:left; width:310px;margin-bottom:-470px; padding-bottom:500px;}
#hotels div.notes {height:220px;overflow:hidden;width:290px;float:none;margin:0px;padding:5px;background-color:#F4F4F4;border:1px solid #CCCCCC;}
#hotels div.notes p {margin:0px;padding:0px;}


/* charitystory */

.charitystory img {
	float: left;
	border: 1px solid #000;
	margin-right: 10px;
}
.charitystory H1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #18336A;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}
.charitystory A:link {
	color: #18336A;
}

.charitystory p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
}
.charitystory {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
	height: 100px;
}
.charitystory a:visited {
	color: #18336A;
}




/****************************************
 REGISTRATION PAGE  
*/

.regDetails {
	border: 1px solid;
	border-color: #333333;
}
.regDetails td {
	background-color: #DDDDDD;
	padding: 5px;
}
.regDetails table {
	border: 1px solid;
	border-color: #999999;
}
.regDetails table td {
	background-color: #F4F4F4;
}

.regDetails H2 {
	background-color: #333333;
	color: #FFFFFF!Important;
	background-image: url('events/bg_rowheader.jpg');padding-left:5px; padding-right:0px; padding-top:2px; padding-bottom:2px
}
.regDetails H3 {
	color: #000000!Important;
	font-size: 18px!Important;
}
.regDetails H4 {
	color: #000000!Important;
	font-size: 16px!Important;
}



/****************************************
 IMAGE FLOATS  
*/

.floatright, .alignright {
	float: right!Important;
	margin: 0px 0px 10px 10px!Important;
}
.floatleft, .alignleft {
	float: left!important;
	margin: 0px 10px 10px 0px!Important;
}
.floatright p, .floatleft p{
	font-weight: normal;
	color: #333333;
	margin: 0px 0px 5px 0px;
}


/****************************************
 FEATURES (A.K.A POST BLURBS)
*/

.main_column .article ul.options { display:none;visibility:hidden;}
.main_column .article ul.article_info { display:none;visibility:hidden; }
.main_column .article h2.author { float:none; }

/*
.main_column .article h1.title { display:none;visibility:hidden;}
.main_column .article h1 { margin-top:0px; }
.main_column .article h1 a {font-weight:normal!Important;}
.main_column .article img.alignleft { float:left!Important;margin:0px 20px 20px 0px!Important;}
.main_column .article img.alignright { float:right!Important;margin:0px 0px 20px 20px!Important;}
*/


/****************************************
 SPONSORS  
*/

.sponsors {
	height: 100%;
	width: 640px;
	margin-top: 25px;
	text-align: center;
}

.sponsortitle  {
	text-align: center;
	float: left;
	width: 635px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color:#FFFFFF;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #666666;
}

.sponsortitle h1 {
	text-align: center;

}

.sponsors img {
	text-align: center;
	margin-top: 10px;
	margin-left: 10px;
}

/************************************ 
RESULTS STYLES
*/

#stats a:link, #stats a:visited, #stats a:hover, #stats a:active { font-size:12px;}
#stats, #lastUpdated { padding:0px;margin:0px;font-size:12px;}
#main_content td { font-size:12px; }

#eventName { font-size:22px;}
#eventDate { font-size:14px; padding:0px; display:inline; font-weight:bold;}
#eventStats { margin: 10px 0px;}
#eventLinks { visibility:hidden; display:none; }
#lastUpdated {color: #666666;}
#poweredBy { visibility:hidden;  display:none;}




/* Search Table Style */

.ContainerSearchTable {
	width: 960px;
	text-align:left;
	clear:left;
	margin:0px;
	padding:0px;
}

.SearchTable {
  border-style:solid;
  border-color: #B1BFC8;
  background-color: #FFFFFF;
  border-width:1px;
  margin: 0px;
  padding: 0px;
  color: #000000;
  width: 470px;
}
.SearchTable td {
	padding:2px 0px 2px 0px;
}

.SearchTable input, .SearchTable select option { height:21px; }

.SearchHeader {
	border-bottom: 1px solid #B1BFC8;
	color: #FFFFFF;
	font-size:14px!Important;
	font-weight:bold;
	background: url('events/results/blueHeader_fill.jpg') repeat-x;
}

.Search { }
.Search input { height:21px;}
td.Search { font-weight:bold; }

.EventSearchTable {
  width:100%;
  border-style:solid;
  border-color: #B1BFC8;
  background-color: #FFFFFF;
  border-width:1px;
  margin: 0px;
  padding: 0px;
  color:#000000;
}

.EventSearchTable td {
	padding:2px 0px 2px 0px;
	text-align:left!Important;
}


/* Leaderboard Style */
.LeaderboardTable {
	border: 1px solid #B1BFC8;
	background-color: #FFFFFF;  
	width: 470px;
	margin-bottom: 5px;
	padding: 0px;
}
.LeaderboardTable td {
	padding:2px 2px 2px 2px;
	text-align:left!Important;
}
.LeaderboardHeader {
	border-bottom: 1px solid #B1BFC8;
	font-size:14px!Important;
	font-weight:bold;
	text-align:left!Important;
	color:#000000;  
	text-decoration: none;
	margin: 0px;
	background: url('events/results/grayHeader_fill.jpg') repeat-x; 
}
.Leaderboard {

}

.LeaderboardPulldown {
	background-color: #ffffff; 
	color: #000000;
	margin-top:0px;
	padding-top: 0px;
}

#div_leaderboard_M {
  margin-bottom:4px;
  border: 1px solid #eeeeee;
}

#div_leaderboard_F {
  margin-bottom:4px;
  border: 1px solid #eeeeee;
}

	
/* Results Table Style */

#ResultsContainer {
width:960px;
	padding: 0px;
	background-color: #FFFFFF;
}
#ResultsContainer p.showSplits {
	display:block;
	font-weight:bold;
}

.ResultsTable {
  width:100%;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border-style:solid;
  border-color: #B1BFC8;
  background-color: #EEEEEE;
  border-width:1px;
  margin: 5px 0 10px 0;
  padding: 0px;
  color:#000000;
}
.ResultsTable tr {   background-color:#EAF4FE;  }
.ResultsTable td { 	padding:3px 0px 3px 3px;}
.ResultsTable tr.off {  background: #FFFFFF;}
.ResultsTable tr.on {  background: #EDEDED;}

.ResultsHeader {
	border-bottom: 1px solid #B1BFC8;
	color: #FFFFFF;
	background: url('events/results/blueHeader_fill.jpg') repeat-x;
    white-space:nowrap
}

.ResultsHeader img {
	margin:0px!Important;
	padding:0px!Important;
}
.ResultsHeader a {
  color:#FFFFFF;  
  font-weight:bold;
}
.ResultsHeader a:hover {
  color:#FFFFFF;  
  font-weight:bold;
}

/* Statistics Table Style */
.StatisticsTable {
  border-style:solid;
  border-color: #B1BFC8;
  background-color: #FFFFFF;
  border-width:1px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0px;
  color: #000000;
}
.StatisticsTable td {
	padding:2px 4px 2px 4px;
}

.StatisticsHeader {
	border-bottom: 1px solid #B1BFC8;
	font-size:14px!Important;
	font-weight:bold;
	color: #FFFFFF;
	background: #CCCCCC url('events/results/blueHeader_fill.jpg') repeat-x;
}

.Statistics {
  color:#000000;
  margin: 0px;
  padding: 2px;
}


/* Results Pagination Style */
#Pagination {
	width:100%;
	color: #000000;
	overflow: auto;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
}
#Pagination .left {
  float: left;
  padding: .3em 0 0 0;
}
#Pagination .center {
  padding: .3em 0 0 0;
  text-align: center;
}
#Pagination .right {
  float: right;
  padding: 0 .3em 0 0;
}
#Pagination a {   }

#toDate {
  background:#fefefe;
  padding: 1px 2px 1px 2px;
  border: 1px solid #aaaaaa;
}

#fromDate {
	background:#fefefe; 
	border: 1px solid #aaaaaa;
	padding: 1px 2px 1px 2px;
}  

#toDateTrigger {
  vertical-align:bottom;
}

#fromDateTrigger {
	vertical-align:bottom;
}  


/* START Tab Menu Style */
.shadetabs {
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	list-style-type:none !Important;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.main_column .article .shadetabs li {background:none;margin:0px;padding:0px; }

.shadetabs li {
	display: inline;
	margin: 0px;
}
.shadetabs li a {
	text-decoration: none;
	margin-right: 3px;
	border: 1px solid #778;
	color: #2d2b2b;
	background: url('events/results/shade.gif') repeat-x top left;; padding-left:7px; padding-right:7px; padding-top:3px; padding-bottom:3px
}

.shadetabs li a:visited {
	color: #2d2b2b;
}

.shadetabs li a:hover {
	text-decoration: underline;
	color: #2d2b2b;
}

.shadetabs li.selected {
	position: relative;
	top: 1px;
}

.shadetabs li.selected a { /*selected main tab style */
	background-image: url('events/results/shadeactive.gif');
	border-bottom-color: #FFFFFF
}

.shadetabs li.selected a:hover { /*selected main tab style */
	text-decoration: none;
}

.tabcontentstyle { /*style of tab content oontainer*/
	border: 1px solid gray;
	width: 95%;
	margin-bottom: 1em;
	padding: 10px;
}

.tabcontent {
	border: 1px solid #000055;
	background-color: #F4F9FF;
	font-size:12px;
	text-indent: 10px;
	padding-bottom: 20px;
	padding-top: 3px; 
	width: 100%;
}

.tabcontent li {
  margin-left: 25px;
}

@media print {
	.tabcontent {
		display:block!important;
	}
}
/* END Tab Menu Style */  

/******************************************************************************/
/*
/* PersonalResultsPage
/*
/*****************************************************************************/
#prp_container {
	clear:left;
	margin-left:0px;
	overflow:auto;
}

#prp_main {
	float: left;
}

#prp_content {
	float: left;
	margin: 0px;
}

#prp_personal {
	margin: 0 0 10px 0px;
	float: left;

}

#prp_personal h2 {
	margin: 0 0 5px;
	padding: 0;
	font-size: 120%;
}

#prp_personal address, #prp_personal span {
	font-style: normal;
	margin: 0;
	padding: 0;
	line-height: 1;
}


#prp_results {
	border: 1px solid #cccccc;
	margin: 20px 0px;
	width: 348px;
	clear:left;
}

#prp_clock {
	margin: 10px;
	display: block;
	padding: 10px 30px;
	background-color: #000000;
}


#prp_results table {
	font-size: 80%;
	margin: 10px 10px;
	width: 328px
}

#prp_results td {
	padding: .2em .5em;
	vertical-align: top;
	border-bottom: 1px dotted #aaaaaa;
	width: 50%;
}

#prp_results tr.last td {
	border: 0px none;
}