body {
	background: #006495 url(virginiabeach/vb_background.jpg) center top no-repeat;
}

#content {
	margin-top: 50px;
}


#banner {
display:none
}

/****************************************
 ATTENTION BOX
*/


.attn a:link { 	color: #006699;}
.attn a:visited { color: #006699;}
.attn H1 a:link { color: #006699;	text-decoration:none;}
.attn H1 a:visited { color: #006699;}
.attn H1 a:hover {	color: #006699;}
.attn H1 a:active {	color: #006699;}

.attn {
	background-color: #FFFFFF;
	border: 1px dotted;
	padding: 5px 5px 0px 5px;
	background-image: url(http://www.rnrchicago.com/Sites/22/templates/css/images/bg_attn.jpg);
	background-repeat: repeat-x;
	margin-bottom: 20px;
}
.attn H1 {
	margin-top: 0px;
	color: #006699;
	font-size: 16px;
	margin-bottom: 2px;
	padding-top: 2px;
	font-weight: bold;
	border-bottom: 2px solid;
	border-bottom-color: #006699;
}
.attn H2 {
	margin-top: 0px;
	color: #006699;
	font-size: 14px;
	margin-bottom: 2px;
	padding-top: 2px;
	font-weight: bold;
}
.attn p {
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 8px;
}


/****************************************
 HOTEL PAGE STYLES
*/

.hq_hotel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid;
	border-color: #6699CC;
	margin-bottom: 25px;
}
.hq_hotel td { padding:10px; }
.hq_hotel p {
	margin-top:0px;
	margin-bottom: 10px;
}
.hq_hotel h1 { margin-top:0px; }
.hq_hotel a:link { }

.hq_hotel .floatleft {
	FLOAT: left;
	MARGIN-RIGHT: 20px;
	TEXT-ALIGN: right;
	margin-bottom: 20px;
	height: 100%;
}
.hq_hotel .rate {
	font-size: 14px;
	font-weight: bold;
	float: right;
	color: #FFFFFF;
}
.hq_hotel .logo {
	float: left;
	margin-right: 8px;
	display: block;
	height: 75px;
}
.hq_hotel .price { margin: 0px; padding: 0px;}
.hq_hotel .price p {
	font-size: 12px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
.hq_header {
	background-image:url(images/hq_topbar.jpg);
	background-repeat:repeat-x;

}
.hq_header H1 {
margin-top:0px;	
font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
}
.hq_leftcol, .hq_rightcol {
	padding: 10px;
}
.hq_leftcol p { font-size:11px;}

.hq_rightcol h1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
.hq_rightcol p {
	margin-top:0px;
}

#hotels {
background-image: url(images/bg_hotellisting.jpg);
background-repeat: repeat-x;
border:1px solid #E3E3E3;
margin-bottom:20px;
}

#hotels p {
	margin-bottom: 10px;
}
#hotels .shuttle {
	color:#003399;
	background-color:#FFFFFF;
	padding:2px 2px 0px 35px;
	border: 1px solid;
	border-color: #B0D6FF;
	font-weight: bold;
	background-image: url(images/ico_shuttle.gif);
	background-repeat: no-repeat;
}
#hotels .shuttle p {margin-bottom: 5px;}
#hotels h1 {
	font-size:14px;
	margin: 0px;
}
#hotels .notes {
	color: #003366;
	background-color: #F0F8FF;
	border: 1px solid #003366;
	padding: 3px 4px 3px 4px;
}
#hotels .notes p {margin-bottom:5px; }
#hotels .notes h1 {
	font-size:12px;
	background-color: #003366;
	color: #FFFFFF;
	margin-bottom: 3px;
	padding: 0px 2px;
}
#hotels .floatright {
	float: right;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;
}
#hotels .floatleft {
	float: left;
	margin-right: 15px;
	margin-bottom: 8px;
	margin-top: 2px;
}
#hotels ul li {
	margin-bottom: 3px;
}
#hotels .st {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
}
#hotels td { 	
	padding: 5px;
}


/* charitystory */

.charitystory img {
	float: left;
	border: 1px solid #000;
	margin-right: 10px;
}
.charitystory H1 {
	font-size: 14px;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #18336A;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}
.charitystory A:link {
	color: #18336A;
}

.charitystory p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0px;
}
.charitystory {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 25px;
	height: 100px;
}
.charitystory a:visited {
	color: #18336A;
}
/****************************************
 REGISTRATION PAGE  
*/

.regDetails li {
	margin-bottom: 5px;
	margin-top: 0px;
}
.regDetails ul {
	margin-bottom: 5px;
	margin-top: 0px;	
	font-size: 12px;
	margin-left: 10px;
	padding-left: 10px;
}
.regDetails td {
	background-color: #DDDDDD;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 0px;
}
.regDetails {
	border: 1px solid;
	border-color: #333333;
}
.regDetails H1 {
	font-size: 18px;
	background-color: #333333;
	color: #FFFFFF;
	margin-top: 5px;
	padding: 2px 0px 2px 5px;
	font-weight: normal;
	background-image: url(images/bg_rowheader.jpg);
}
.regDetails table td {
	background-color: #F4F4F4;
	padding: 5px;
}
.regDetails table {
	border: 1px solid;
	border-color: #999999;
}
.regDetails H2 {
	color: #000000;
}


/****************************************
 FLOATS  
*/

.floatright {
	float: right;
	margin: 0px 0px 20px 20px;
}
.floatleft {
	float: left;
	margin: 0px 20px 20px 0px;
}
.floatright p, .floatleft p{
	font-weight: normal;
	color: #333333;
	margin: 0px 0px 5px 0px;
}

